.bsp/*
.metals/*
.vscode/*
.idea/*
samples/*
target/*
project/target/*
project/project/*
target/*
test/.bsp
test/home
test/target
*.log
*.sh
src/main/scala/master/output/*
src/main/scala/worker/input/*
partition*
external*
sample*
worker/*
master/*
mergedOutput
output/*
